.gridCube {
  height: 25px;
  width: 25px;
  border: 1px solid grey;
  float: left;
  cursor: pointer;
  transition: 0.1s ease;
}

.gridCube[type="blank"]:hover {
  background-color: black;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.gridOut {
  float: left;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sourceCube {
  background-color: green;
}

.destinationCube {
  background-color: red;
}

.wallCube {
  background-color: black;
}
